<div class="col-md-6 col-md-offset-3">
    <div class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <table class="table table-responsive table-striped">
        <tr ng-repeat="trip in vm.trips">
            <td>{{trip.name}}</td>
            <td>{{trip.created | date:'shortDate' }}</td>
            <td><a ng-href="#/editor/{{trip.name}}" class="btn btn-sm btn-primary">Manage</a></td>

        </tr>
    </table>


    <form novalidate name="newTripForm" ng-submit="vm.addTrip()">
        <div class="form-group">
            <label for="name">Trip Name</label>
            <input class="form-control" type="text" id="name" name="name" ng-model="vm.newTrip.name" required ng-minlength="5" />
            <span ng-show="newTripForm.name.$error.required" class="text-warning">Name is required.</span>
            <span ng-show="newTripForm.name.$error.minlength" class="text-warning">Name must be at least 5 characters.</span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-sm btn-success"
                   ng-disabled="newTripForm.$invalid" />

        </div>

    </form>

</div>
