﻿@model TheWorld.ViewModels.ContactViewModel

@{
   ViewBag.Title = "Contact Us";
}

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js">
    </script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
<h2>Contact</h2>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form method="post">

            @if (ViewBag.Message != null)
            {
                <div>@ViewBag.Message</div>
            }

            <div asp-validation-summary="ValidationSummary.ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input type="email" asp-for="Email" class="form-control"  />
                <span asp-validation-for="Email" class="text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="Message">Message</label>
                <textarea cols="40" rows="4" asp-for="Message" class="form-control" ></textarea>
                <span asp-validation-for="Message" class="text-muted"></span>
            </div>
            
            <div class="form-group">
                <a asp-controller="App" asp-action="Index" class="btn btn-default">Cancel</a>
            <input type="submit" value="Send Message" class="btn btn-success"  /></div>
        </form>
    </div>
</div>
