﻿@model  IEnumerable<TheWorld.Models.Trip>

@{
    ViewBag.Title = "Error Page";
}
    <div class="row">
        

        <div class="col-md-12" >
            <h1>Unknown error</h1>
            
        </div>
    </div>
