﻿@model  IEnumerable<TheWorld.Models.Trip>

@{
    ViewBag.Title = "Welcome Page";
}
    <div class="row">
        

        <div class="col-md-12" >
            <h1>Welcome to The Trip Planner</h1>
            <p>This app will allow you to plan for trips</p>
            <a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">View My Trips</a>

           
        </div>
    </div>
